<html><head><meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
<link type="text/css" rel="stylesheet" href="/media/css/index.css"> 
<title>搞定 - gaoding.me | 一切皆可搞定！</title> 
<style> 
.login{position:absolute; bottom:10px;}
.about{overflow: hidden; padding-top: 10px;}
.about ul{margin:10px 30px;color:#666}
.about li{list-style:circle inside;}
.about h2{margin:10px 0; font:16px/150% Arial,Helvetica,sans-serif; color: #006600;}
#footer{ border-top: 1px dashed #DDDDDD;color: #999999; margin:50px 0 20px 0; }
	.sina-weibo{background:url('/media/i/sina-weibo-16x16.png') no-repeat; padding-left:20px;}
</style> 
<script> 
</script> 
</head><body> 
<div id="header"><div class="wrapper"><div class="top-nav"><div class="comimg"></div> 
</div> 
</div> 
</div> 
<div id="player"> 
	<div class="wrapper"> 
		<div style="" class="about"> 
			<h2>了解gaoding.me</h2>

			<ul> 
				<li>GaoDing是一个GTD网站</li>
				<li>可以让你方便的管理代办事项</li>
				<li>可以将代办事项共享给其他人</li>
				<li>无需注册帐号，可以使用其它平台的帐号登录，更多开放平台支持增加中</li>
				<li>方便的导出功能</li>
			</ul> 
		</div> 
		<div class="login">

			<a href="javascript:void(0)" title="使用新浪微博帐号登录" onclick="location.href='/login?act=auth';return false;"><img src="/media/i/sina-weibo-48.png"/></a>
		</div>
	</div> 
</div> 
<div id="footer">
	<div class="wrapper">
	Powered By <a href="http://weibo.com/knownsec" class="sina-weibo" title="Follow me">知道创宇</a>
	Contributor: <a href="http://weibo.com/n0ts0bad" title="Follow me!" class="sina-weibo" target="_blank">notsobad</a>, <a href="http://weibo.com/hysia" class="sina-weibo" target="_blank" title="Follow me!">hysia</a>

	</div>
</div>
</body>
</html>

